.body {
    color: #c8e0ca;
    background-color: #145858;
    overflow: auto;
    font-family: 'Satisfy', cursive;
}

/* navbar */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

#navbarcontainer {
    padding: 0 8%;
    margin-bottom: 5px;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    font-weight: 600;
    font-variant-caps: petite-caps;
}

#navbarSupportedContent {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 4px;
}

/* container 1- note card and instructions */

#card-instruct-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px auto;
    align-items: center;
}



/* note card */
#card {
    color: #145858;
    width: 18rem;
    height: 18rem;
    background-color: #c8e0ca;
    box-sizing: content-box;


}

#cardhead {
    text-align: center;
    font-weight: 700;
}


/* pencil image in title  */
.card-body img {
    margin-left: 5px;
    width: 35px;
}

#inputform{
    display: flex;
    flex-direction: column;
}

#addtitle {

    background-color: #e8e9e8d9;
    border-bottom: 1.5px solid #145858;
    box-shadow: none;
}


#addtxt {

    background-color: #e8e9e8d9;
    border-bottom: 1.5px solid #145858;
    box-shadow: none;
    max-height: 100px;
    min-height: 100px;
}

#addbtn {

    background-color: #057f92;
    border: none;
    align-self: center;
    padding: 7px 28px;

}

#addbtn:hover {

    background-color: #05a4bd;

}

/* instruction */

.instruct {
    width: 20rem;
    /* float: right; */
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    text-align: center;
    /* padding: 30px 20px; */
}



.instruct h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: 900;

}

.instruct h4 {
    margin-bottom: 20px;
    font-weight: 900;
    font-family: 'Amatic SC', cursive;

}

.instruct p {
    font-family: 'Satisfy', cursive;
    font-size: large;
    margin-bottom: 10px;

}

#boytable img {
    width: 230px;
    margin: 60px 0;
}

/* displayzone */

#displayzone {
    overflow: auto;
    min-height: 300px;
}

#displayzone h3 {

    font-weight: 600;
    font-variant-caps: petite-caps;
    font-family: 'Dancing Script', cursive;

}




/* clear all notes button */
#clearall {
    float: right;
    margin-top: 4px;
    background-color: #f8ff7b;
    color: #0a3333;
    font-weight: 500;
}

#clearall:hover {
    background-color: #f9826e;
    /* font-weight: 600; */
}


/* saved note card */
#notecard {
    width: 18rem;
    height: 20rem;
    background-color: #c8e0ca;
}

/* saved note card title */
.card-title {
    text-align: center;
    color: #145858;
    font-weight: 700;

}

#divider {
    color: #0a3333;
    background-color: #0a3333;
    height: 2px;
}

/* note display zone */

#notes {
    justify-content: center;
}

/* saved note card text/ message */

.card-title {
    margin-top: 5px;
    margin-bottom: 0;
}

.card-text {
    color: #105454;
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
}




.card-body p {
    height: 10.5rem;
    overflow-y: scroll;
    padding: 2px 5px 2px 2px;
    font-weight: 400;
    border-bottom: 1px solid #125a5a1d;
}



/* saved notes delete button  */

#delete {
    align-self: center;

}

.card-body button {
    background-color: #057f92;
    border: none;
    padding: 7px 25px;
    /* position: relative;
    left: 30%;
    padding: 4px 22px; */
}

.card-body button:hover {

    background-color: #05a4bd;
}


/* footer */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#87898a;
}

/* copyright */

.copyright {
    background-color: #212529;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 0 0 30px 0; */
}

.copyright p {
    padding: 10px 20px;
    align-self: baseline;
    margin-bottom: 0;
}

/* .copyright hr {
    width: 2px;
    height: 30px;
    background-color: white;
} */

/* developer */

#devlogo {
    height: 2.5rem;
    position: relative;
    /* top: 17px; */
    padding: 0 4px;
}


#dev a {

    text-decoration: none;
    color:#87898a;
}

#dev a:hover{
    color:#cbcbcb;
}

#dev a:active {

    text-decoration: none;
    font-weight: 600;
    color:#cbcbcb;
}